:root ._fd-column{flex-direction:column;}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._fb-0px{flex-basis:0px;}
:root ._items-center{align-items:center;}
:root ._justify-center{justify-content:center;}
:root ._col-gray10{color:var(--gray10);}
:root ._mt-c-space-4{margin-top:var(--c-space-4);}
:root ._pt-c-space-6{padding-top:var(--c-space-6);}
:root ._pr-c-space-6{padding-right:var(--c-space-6);}
:root ._pb-c-space-6{padding-bottom:var(--c-space-6);}
:root ._pl-c-space-6{padding-left:var(--c-space-6);}
:root ._gap-c-space-8{gap:var(--c-space-8);}
:root ._maxW-1400px{max-width:1400px;}
:root ._mr-auto{margin-right:auto;}
:root ._ml-auto{margin-left:auto;}
:root ._width-10037{width:100%;}
:root ._gap-c-space-2{gap:var(--c-space-2);}
:root ._col-color{color:var(--color);}
:root ._fs-f-size-9{font-size:var(--f-size-9);}
:root ._fw-800{font-weight:800;}
:root ._col-gray11{color:var(--gray11);}
:root ._fs-f-size-4{font-size:var(--f-size-4);}
:root ._fd-row{flex-direction:row;}
:root ._fwr-wrap{flex-wrap:wrap;}
:root ._grow-1--5{flex-grow:1.5;}
:root ._minW-400px{min-width:400px;}
:root ._minW-350px{min-width:350px;}