:root ._fd-column{flex-direction:column;}
:root ._gap-c-space-4{gap:var(--c-space-4);}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._fb-0px{flex-basis:0px;}
:root ._fd-row{flex-direction:row;}
:root ._justify-space-betwe3241{justify-content:space-between;}
:root ._items-center{align-items:center;}
:root ._col-color{color:var(--color);}
:root ._fs-f-size-6{font-size:var(--f-size-6);}
:root ._fw-700{font-weight:700;}
:root ._col-gray10{color:var(--gray10);}
:root ._fs-f-size-3{font-size:var(--f-size-3);}
:root ._btc-backgroundF3405682._btc-backgroundF3405682{border-top-color:var(--backgroundFocus);}
:root ._brc-backgroundF3405682._brc-backgroundF3405682{border-right-color:var(--backgroundFocus);}
:root ._borderBottomColor-backgroundF3405682._borderBottomColor-backgroundF3405682{border-bottom-color:var(--backgroundFocus);}
:root ._borderLeftColor-backgroundF3405682._borderLeftColor-backgroundF3405682{border-left-color:var(--backgroundFocus);}
:root ._btw-0px._btw-0px{border-top-width:0px;}
:root ._brw-0px._brw-0px{border-right-width:0px;}
:root ._borderBottomWidth-1px._borderBottomWidth-1px{border-bottom-width:1px;}
:root ._borderLeftWidth-0px._borderLeftWidth-0px{border-left-width:0px;}
:root ._height-0px{height:0px;}
:root ._maxH-0px{max-height:0px;}
:root ._bbs-solid._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid._bts-solid{border-top-style:solid;}
:root ._bls-solid._bls-solid{border-left-style:solid;}
:root ._brs-solid._brs-solid{border-right-style:solid;}
:root ._tr-translateY-1736186894{transform:translateY(-0.5px);}
:root ._pt-c-space-4{padding-top:var(--c-space-4);}
:root ._pr-c-space-4{padding-right:var(--c-space-4);}
:root ._pb-c-space-4{padding-bottom:var(--c-space-4);}
:root ._pl-c-space-4{padding-left:var(--c-space-4);}
@media (hover) {:root:root  ._bg-0hover-gray2:hover{background-color:var(--gray2) !important;}}
:root ._width-40px{width:40px;}
:root ._height-40px{height:40px;}
:root ._btlr-c-radius-10{border-top-left-radius:var(--c-radius-10);}
:root ._btrr-c-radius-10{border-top-right-radius:var(--c-radius-10);}
:root ._bbrr-c-radius-10{border-bottom-right-radius:var(--c-radius-10);}
:root ._bblr-c-radius-10{border-bottom-left-radius:var(--c-radius-10);}
:root ._justify-center{justify-content:center;}
:root ._bg-blue3{background-color:var(--blue3);}
:root ._bg-orange3{background-color:var(--orange3);}
:root ._gap-c-space-1{gap:var(--c-space-1);}
:root ._fw-600{font-weight:600;}
:root ._fs-f-size-4{font-size:var(--f-size-4);}
:root ._fs-f-size-2{font-size:var(--f-size-2);}
:root ._mt-c-space-2{margin-top:var(--c-space-2);}