:root ._fd-column{flex-direction:column;}
:root ._gap-c-space-4{gap:var(--c-space-4);}
:root ._fd-row{flex-direction:row;}
:root ._justify-space-betwe3241{justify-content:space-between;}
:root ._items-center{align-items:center;}
:root ._col-color{color:var(--color);}
:root ._fs-f-size-5{font-size:var(--f-size-5);}
:root ._fw-700{font-weight:700;}
:root ._col-gray10{color:var(--gray10);}
:root ._fs-f-size-2{font-size:var(--f-size-2);}
:root ._btc-backgroundF3405682._btc-backgroundF3405682{border-top-color:var(--backgroundFocus);}
:root ._brc-backgroundF3405682._brc-backgroundF3405682{border-right-color:var(--backgroundFocus);}
:root ._borderBottomColor-backgroundF3405682._borderBottomColor-backgroundF3405682{border-bottom-color:var(--backgroundFocus);}
:root ._borderLeftColor-backgroundF3405682._borderLeftColor-backgroundF3405682{border-left-color:var(--backgroundFocus);}
:root ._shrink-1{flex-shrink:1;}
:root ._btw-0px._btw-0px{border-top-width:0px;}
:root ._brw-0px._brw-0px{border-right-width:0px;}
:root ._borderBottomWidth-1px._borderBottomWidth-1px{border-bottom-width:1px;}
:root ._borderLeftWidth-0px._borderLeftWidth-0px{border-left-width:0px;}
:root ._grow-1{flex-grow:1;}
:root ._fb-0px{flex-basis:0px;}
:root ._height-0px{height:0px;}
:root ._maxH-0px{max-height:0px;}
:root ._bbs-solid._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid._bts-solid{border-top-style:solid;}
:root ._bls-solid._bls-solid{border-left-style:solid;}
:root ._brs-solid._brs-solid{border-right-style:solid;}
:root ._tr-translateY-1736186894{transform:translateY(-0.5px);}
:root ._pt-c-space-3{padding-top:var(--c-space-3);}
:root ._pr-c-space-3{padding-right:var(--c-space-3);}
:root ._pb-c-space-3{padding-bottom:var(--c-space-3);}
:root ._pl-c-space-3{padding-left:var(--c-space-3);}
:root ._gap-c-space-3{gap:var(--c-space-3);}
:root ._fw-600{font-weight:600;}
:root ._fs-f-size-3{font-size:var(--f-size-3);}
:root ._td-line-throug104{text-decoration-line:line-through;}
:root ._td-none{text-decoration-line:none;}
:root ._gap-c-space-2{gap:var(--c-space-2);}
:root ._brw-1px._brw-1px{border-right-width:1px;}
:root ._borderBottomWidth-0px._borderBottomWidth-0px{border-bottom-width:0px;}
:root ._height-8px{height:8px;}
:root ._maxH-initial{max-height:initial;}
:root ._width-0px{width:0px;}
:root ._maxW-0px{max-width:0px;}
:root ._tr-translateY0419227808{transform:translateY(0px) translateX(-0.5px);}
:root ._gap-c-space-1{gap:var(--c-space-1);}
:root ._fs-f-size-1{font-size:var(--f-size-1);}
:root ._justify-center{justify-content:center;}