:root ._fd-column{flex-direction:column;}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._fb-0px{flex-basis:0px;}
:root ._gap-c-space-8{gap:var(--c-space-8);}
:root ._pr-c-space-6{padding-right:var(--c-space-6);}
:root ._pl-c-space-6{padding-left:var(--c-space-6);}
:root ._pt-c-space-8{padding-top:var(--c-space-8);}
:root ._pb-c-space-8{padding-bottom:var(--c-space-8);}
:root ._justify-space-betwe3241{justify-content:space-between;}
:root ._bg-background{background-color:var(--background);}
:root ._gap-c-space-6{gap:var(--c-space-6);}
:root ._maxW-980px{max-width:980px;}
:root ._width-10037{width:100%;}
:root ._mr-auto{margin-right:auto;}
:root ._ml-auto{margin-left:auto;}
:root ._gap-c-space-3{gap:var(--c-space-3);}
:root ._ff-f-family{font-family:var(--f-family);}
:root ._fw-700{font-weight:700;}
:root ._ls-f-letterSpa1360334202{letter-spacing:var(--f-letterSpacing-4);}
:root ._fs-f-size-4{font-size:var(--f-size-4);}
:root ._lh-f-lineHeigh112923{line-height:var(--f-lineHeight-4);}
:root ._col-blue10{color:var(--blue10);}
:root ._select-auto{user-select:auto;-webkit-user-select:auto;}
:root ._ws-normal{white-space:normal;}
:root ._col-color{color:var(--color);}
:root ._fw-f-weight-12{font-weight:var(--f-weight-12);}
:root ._ls--2px{letter-spacing:-2px;}
:root ._fs-f-size-12{font-size:var(--f-size-12);}
:root ._lh-f-lineHeigh3500569{line-height:var(--f-lineHeight-11);}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._fw-f-weight-6{font-weight:var(--f-weight-6);}
:root ._ls-f-letterSpa1360334200{letter-spacing:var(--f-letterSpacing-6);}
:root ._fs-f-size-6{font-size:var(--f-size-6);}
:root ._lh-f-lineHeigh112925{line-height:var(--f-lineHeight-6);}
:root ._col-gray11{color:var(--gray11);}
:root ._maxW-760px{max-width:760px;}
:root ._fd-row{flex-direction:row;}
:root ._fwr-wrap{flex-wrap:wrap;}
:root ._gap-c-space-4{gap:var(--c-space-4);}
:root ._btw-1px._btw-1px{border-top-width:1px;}
:root ._brw-1px._brw-1px{border-right-width:1px;}
:root ._borderBottomWidth-1px._borderBottomWidth-1px{border-bottom-width:1px;}
:root ._borderLeftWidth-1px._borderLeftWidth-1px{border-left-width:1px;}
:root ._btc-borderColor._btc-borderColor{border-top-color:var(--borderColor);}
:root ._brc-borderColor._brc-borderColor{border-right-color:var(--borderColor);}
:root ._borderBottomColor-borderColor._borderBottomColor-borderColor{border-bottom-color:var(--borderColor);}
:root ._borderLeftColor-borderColor._borderLeftColor-borderColor{border-left-color:var(--borderColor);}
:root ._btlr-c-radius-8{border-top-left-radius:var(--c-radius-8);}
:root ._btrr-c-radius-8{border-top-right-radius:var(--c-radius-8);}
:root ._bbrr-c-radius-8{border-bottom-right-radius:var(--c-radius-8);}
:root ._bblr-c-radius-8{border-bottom-left-radius:var(--c-radius-8);}
:root ._ox-hidden{overflow-x:hidden;}
:root ._oy-hidden{overflow-y:hidden;}
:root ._bg-color1{background-color:var(--color1);}
:root ._bbs-solid._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid._bts-solid{border-top-style:solid;}
:root ._bls-solid._bls-solid{border-left-style:solid;}
:root ._brs-solid._brs-solid{border-right-style:solid;}
:root ._minW-260px{min-width:260px;}
:root ._pt-c-space-6{padding-top:var(--c-space-6);}
:root ._pb-c-space-6{padding-bottom:var(--c-space-6);}
:root ._width-48px{width:48px;}
:root ._height-48px{height:48px;}
:root ._btlr-c-radius-12{border-top-left-radius:var(--c-radius-12);}
:root ._btrr-c-radius-12{border-top-right-radius:var(--c-radius-12);}
:root ._bbrr-c-radius-12{border-bottom-right-radius:var(--c-radius-12);}
:root ._bblr-c-radius-12{border-bottom-left-radius:var(--c-radius-12);}
:root ._items-center{align-items:center;}
:root ._justify-center{justify-content:center;}
:root ._bg-blue3{background-color:var(--blue3);}
:root ._ls-f-letterSpa1360334201{letter-spacing:var(--f-letterSpacing-5);}
:root ._fs-f-size-5{font-size:var(--f-size-5);}
:root ._lh-f-lineHeigh112924{line-height:var(--f-lineHeight-5);}
:root ._gap-c-space-2{gap:var(--c-space-2);}
:root ._col-gray12{color:var(--gray12);}
:root ._fw-f-weight-4{font-weight:var(--f-weight-4);}